
        p {
            font-family:arial;
            margin-top: 0;
            margin-bottom: 0;
        }
        .video-title {
            font-weight:bold;
            font-size: 18px;
            width: 300px;
            line-height: 24px;
            margin-bottom: 5px;
        }
        .video-stats {
            font-size: 14px;
            margin-top: 0;
            margin-bottom: 16px;
            color: #606060;
        }
        .video-author {
            font-size: 14px;
            margin-top: 0;
            margin-bottom: 16px;
            color: #606060;
            margin-bottom: 0;
        }
        .video-description {
            font-size: 14px;
            color: #606060;
            line-height: 20px;
            margin-bottom: 0;
            width: 300px;
            margin-top: 20px;
            margin-bottom: 100px;
        }
        .apple-text {
            margin-bottom:50px;
            font-size:14px;
            background-color: rgb(227,65,64);
            color: white;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .shop-link {
            cursor:pointer;
        }
        .shop-link:hover {
            text-decoration: underline;
        }


        .span-example {
            color:red;
            margin-left: 12px;
        }
        .span-example:hover {
            text-decoration: underline;
        }
